body {
    text-align: center;
    margin: 0;
}

.page-background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .3;
    background: url(assets/shrek-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    background-position-x: center;
}

.opis {
    border: #000000;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    margin: 5px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.informacje {
    max-width: 450px;
    border: solid 2px #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}

.informacje li {
    text-align: left;
}

.odnosniki {
    display: flex;
    max-width: 400px;
    border: solid 2px #000000;
    margin: 20px auto;
    margin-top: 30px;
}

.link {
    text-align: center;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    letter-spacing: 3px;
    border: solid 2px #000000;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tabelka {
    display: flex;
    justify-content: center;
}

.zdj {
    display: flex;
}